h1 {
  font-family: 'Courier New', Courier, monospace;
}
p,h2 {
  color: green;
  font-size: 20px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #141d26;
}
.column1 {
    float: left;
    font-weight: bold;
    width: 50%;
}
.column2 {
    float: right;
    width: 50%;
}
.button {
    color: white;
    background-color: green;
}
.rrss{
    background-color: greenyellow;
    width: 30%;
    height: 30%;
}
.imgRRSS{
    width: 30px;
    height: 30px;
}