body {
    color: rgb(72, 72, 105);
    font-family: "Open Sans", sans-serif;
}
table, thead, tbody, th, tr, td {
    border: 2px solid black;
    border-color: rgb(54, 38, 38);
}
th, tr, td {
    padding: 10px;
}
.header {
    height: 15vh;
    width: 100vw;
}
.header-row-1 {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.header-row-2 {
    text-align: center;
}
.header-row-3 {
    text-align: center;
}
.header-c1 {
    display: flex;
    flex-direction: column;
}
.header-c2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-c3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-c3-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.body {
    height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1px;
}
.table-body {
    width: 98vw;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 2vh;
    width: 100vw;
}
@media print {
    .pagebreak { 
        page-break-before: always;
    }
    /* page-break-after works, as well */
}